/*For the animated form*/

body {
    background: #ECECEC;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.wrapper {
    width: 70%;
    height: 150px;
    display: flex;
    border-radius:5px;
    background: white;
}



#fieldSearch {
    width: 50%;
    height: 35px;
    border-radius: 5%;
}


#fieldSearch:focus {
    transition: .2s;
}



form {
    width: 60%;
    height: 40px;
    border-radius: 5px;
    margin: auto;
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.search {
    display: inline-flex;
    justify-content: center;
    width: 50%;
}

.header {
    display: flex;
    justify-content: center;
}


.search-button {
    ƒ margin-left: 2%;
    border-radius: 2px;
}


#fieldSearch {
    margin: auto;
    width: 80%;
}

.repos-containers {
    width: 50%;
    height: 100px;
    border: 1px solid blue;
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

#users li img {
    width: 30%;
    border-radius: 50%;
}

#users {
    border: 1px solid black;
    list-style: none;
    width:50%;
}


ul {
    padding: 1%;
    
    border-radius: 5px;
    align-items: center;
}